<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Daniel Shiffman</title>
  <link rel="stylesheet" href="../stylesheets/styles.css">
  <link rel="stylesheet" href="../stylesheets/github-light.css">
  <link rel="stylesheet" href="../stylesheets/syntax.css">

</head>
<body>
    <header>
      <h1><a href="/A2Z-F15">A to Z, F15</a></h1>

      <ul>
        <li><a target="_blank" href="https://github.com/shiffman/A2Z-F15/blob/gh-pages/README.md">Syllabus</a></li>
        <li><a href="../week1/notes.html">Week 1: Intro</a></li>
        <li><a href="../week2/notes.html">Week 2: Strings</a></li>
        <li><a href="../week3/notes.html">Week 3: Regular Expressions</a></li>
        <li><a href="../week4/notes.html">Week 4: Data and APIs</a></li>
        <li><a href="../week4/callback.html">Week 4: Callbacks in a loop</a></li>
        <li><a href="../week5/notes.html">Week 5: Word Counting</a></li>
        <li><a href="../week7/notes.html">Week 7: Markov Chains</a></li>
        <!--<li><a href="../week7/prototypes.html">Prototype (coming soon)</a></li>
        <li><a href="../week7/parse.html">setTimeout/setInterval (coming soon)</a></li>-->
        <li><a href="../week8/notes.html">Week 8: Context-Free Grammars</a></li>
        <li><a href="../week8/closures.html">Week 8: Closures</a></li>
        <li><a href="../week9/notes.html">Week 9: Node and Twitter Bots</a></li>
        <li><a href="../week9/ec2.html">Week 9: EC2</a></li>
        <li><a href="../week9/heroku.html">Week 9: Heroku</a></li>
        <li><a href="../week10/notes.html">Week 10: Chrome Extensions</a></li>
        <li><a href="../week11/notes.html">Week 11: Node and APIs</a></li>
      </ul>
    </header>

    <section>
      {{content}}
    </section>

    <footer><a href="https://github.com/shiffman/A2Z-F15">Github Repo</footer>
</body>
</html>
