<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Daniel Shiffman</title>
  <link rel="stylesheet" href="../stylesheets/styles.css">
  <link rel="stylesheet" href="../stylesheets/github-light.css">
  <link rel="stylesheet" href="../stylesheets/syntax.css">

</head>
<body>

    <header>
      <h1>A to Z, F15</h1>

      <ul>
        <li><a target="_blank" href="https://github.com/shiffman/A2Z-F15/blob/gh-pages/README.md">Syllabus</a></li>
        <li><a href="../week1/notes.html">Week 1: Intro</a></li>
        <li><a href="../week2/notes.html">Week 2: Strings</a></li>
        <li><a href="../week3/notes.html">Week 3: Regular Expressions</a></li>
        <li><a href="../week3/callback.html">Callbacks in a loop</a></li>
        <li><a href="../week4/notes.html">Week 4: Data and APIs</a></li>
    </header>

    <section>
      {{content}}
    </section>

    <footer><a href="https://github.com/shiffman/A2Z-F15">Github Repo</footer>
</body>
</html>
