<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Programming from A to Z</title>
  <link rel="canonical" href="http://shiffman.net/a2z"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="refresh" content="0;url=http://shiffman.net/a2z" />
  <link rel="stylesheet" href="stylesheets/styles.css">
  <link rel="stylesheet" href="stylesheets/github-light.css">
  <link rel="stylesheet" href="stylesheets/syntax.css">

</head>
<body>
    <h1>Redirecting...</h1>
      <a href="http://shiffman.net/a2z">Click here if you are not redirected.<a>
      <script>location='http://shiffman.net/a2z'</script>
    <header>
      <h1><a href="/">A to Z, F15</a></h1>
    </header>

    <section>
      {{content}}
    </section>

    <footer><a href="https://github.com/shiffman/A2Z-F15">Github Repo</footer>
</body>
</html>
